.portStyle {
    background: #7293A0;
    height: 1100px;
    color: white;
    text-align: center;

  }


   /* Tablet */
 @media screen and (max-width: 850px) {
  .portStyle {
    height: 80vh;
  }
 }


   /* Smartphone */
  @media screen and (max-width: 600px) {
    .portStyle{
        height: 110vh;
        width: 100vw;
        /* margin: 0.5em auto;   */
    }

  }     



